{% extends 'app/index.html' %}
{% load static %}
{% block title %} Change Password {% endblock title %}
{% block main-content %}
<div class='container'>
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
          <h3> Reset Password Completed !! </h3>
          <hr>
            <div>
              <iframe src="https://media.tenor.com/orckzXBmCFoAAAAC/tanda-centang-informa.gif" width="500" height="500" frameBorder="0"  allowFullScreen loop="false"> </iframe>
            </div>
        </div>
    </div>
</div>

{% endblock main-content %}